<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row flex">
        <div class="col-md-10 col-md-offset-1 red-box">
          <p class="lead text-muted text-center" ng-if="vm.trialUsers.length === 0">
            <i class="fa fa-fw fa-list"></i>
            <span>{{'client.views.listClients.noData' | translate}}.</span>
          </p>
          <div ng-if="vm.trialUsers.length > 0">
            <div class="input-group search-bar quarter-size">
              <input class="form-control" type="text" ng-model="vm.searchText" placeholder="Search">
              <i class="fa fa-search input-group-addon"></i>
            </div>
            <table class="table table-fire table-centered">
              <thead>
                <tr>
                  <th>Business Name</th>
                  <th>Business Phone</th>
                  <th>Email</th>
                  <th>Remaining Days</th>
                  <th>Subscribed On</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="trial in vm.trialUsers | orderBy:'subscribedOn':true | filter: vm.searchText track by $index">
                  <td ng-bind="trial.businessName"></td>
                  <td ng-bind="trial.businessPhone"></td>
                  <td ng-bind="trial.email"></td>
                  <td ng-bind="trial.status"></td>
                  <td ng-bind="trial.subscribedOn | date"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
