<div class="menu-bar">
  <div class="menu-bar__logo">
    <a href="index.html"><img class="menu-image" alt="Firelab" src="resources/images/logo.png"></a>
  </div>
  <nav class="menu-bar__list right">
    <a href="http://newsite.firelabinc.com/index.html" class="menu-bar__item">Home</a>
    <a href="http://newsite.firelabinc.com/about.html" class="menu-bar__item">About</a>
    <a href="http://newsite.firelabinc.com/reports.html" class="menu-bar__item">Reports</a>
    <a href="http://newsite.firelabinc.com/tryus.html" class="menu-bar__item">Try Us</a>
    <a href="http://newsite.firelabinc.com/pricing.html" class="menu-bar__item">Pricing</a>
    <a href="http://newsite.firelabinc.com/contact.html" class="menu-bar__item">Contact</a>
  </nav>
</div>

<div class="burguer-menu-bar">
  <div class="burguer-menu-bar__logo">
    <a href="index.hmtl"><img class="menu-image" alt="Firelab" src="resources/images/logo.png"></a>
  </div>
  <div class="burguer-menu-bar__icon">
    <i id="menu-button" class="fa fa-2x fa-bars" aria-hidden="true"></i>
  </div>
  <ul class="burguer-menu-bar__list">
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/index.html">Home</a></li>
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/about.html">About</a></li>
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/reports.html">Reports</a></li>
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/tryus.html">Try Us</a></li>
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/pricing.html">Pricing</a></li>
    <li class="burguer-menu-bar__item"><a href="http://newsite.firelabinc.com/contact.html">Contact</a></li>
  </ul>
</div>
