<section class="login">
  <div class="colorgraph"></div>
  <i class="fa fa-fw fa-map-signs text-info fa-5x" style="display:inline;"></i>
  <h1 class="titulo">404</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center" ng-bind="'base.views.404.h1' | traslate"></h1>
    </div>
    <div class="panel-body">
      <p class="text-justify" ng-bind="'base.views.404.text' | traslate"></p>
      <ul class="list-inline text-center panel-options panel-options--bottom">
        <li>
          <a class="btn btn-default btn-sm" btn-back>
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs" ng-bind="'common.back' | traslate"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
