<div class="metro">
  <div class="metro--purple metro--large">
    <a href="">
      <i class="fa fa-fw fa-home"></i>
      <p>Resumen Núcleos de Asfaltos</p>
    </a>
  </div>
  <div class="metro--purple-dark metro--small">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Calidad de mezcla asfaltica</p>
    </a>
  </div>
  <div class="metro--indigo">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Localización de Muestreo</p>
    </a>
  </div>
  <div class="metro--blue">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Núcleos y pastillas</p>
    </a>
  </div>
  <div class="metro--blue-light">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--cyan">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--turquois">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--green">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--green-light">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--lime">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--yellow">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--ambar">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--orange">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--orange-dark">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--red">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--pink">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--gray-light">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--gray">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
  <div class="metro--gray-dark">
    <a href="">
      <i class="fa fa-fw fa-home"></i><p>Other</p>
    </a>
  </div>
</div>
